<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>MrShip - 分享站</title>
    <meta name="author" content="MRSHIP"/>
    <meta name="Resource-type" content="Document"/>

    <link rel="stylesheet" type="text/css" href="/static/plugins/fullpage/css/jquery.fullPage.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/examples.css"/>
    <link rel="stylesheet" type="text/css" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
</head>
<body class="ship">

<div class="navbar navbar-fixed-top navbar-inverse" role="navigation"
     style="background-color:rgba(0, 0, 0, 0.5);color: #ffffff;background-image: none;border: none">
    <div class="container">
        <div class="navbar-header nav-title ">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="color: #FFFFFF">I'm Ship</a>
        </div>
        <div class="collapse navbar-collapse navbar-right is-collapse">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="index.html" style="text-align: center"><span>首页</span></a></li>-->
                <li class="active"><a href="/" style="text-align: center"><span>首页</span></a></li>
                <li><a href="/index/code" onclick="enterPage(1)" style="text-align: center"><span>代码</span></a></li>
                <li><a href="/index/photo" onclick="enterPage(2)" style="text-align: center"><span>摄影</span></a></li>
                <li><a href="javascript:void(0)" onclick="enterPage(3)" style="text-align: center"><span>留言</span></a>
                </li>
                <li><a href="javascript:void(0)" onclick="enterPage(4)" style="text-align: center"><span>rss</span></a>
                </li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</div>

<div id="fullpage" style="height: 100%">
    <div class="section active" id="section0">
        <!--<h1 style="font-size: 150px;color: #ffffff">I AM MRSHIP.</h1>-->
        <svg version="1.1" id="图层_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="841.89px" height="198.43px" viewBox="0 0 841.89 198.43" enable-background="new 0 0 841.89 198.43" xml:space="preserve">
<g>
	<path fill="none" id="path1" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" d="M4.961,47.478h16.15V149.94H4.961V47.478z"/>
	<path fill="none" id="path2" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" d="M126.634,120.704H90.995l-8.771,29.236H65.797
		L99.765,47.478h18.655l33.968,102.462h-17.124L126.634,120.704z M122.735,108.037l-4.037-13.783
		c-1.764-5.568-5.012-16.936-9.745-34.107h-0.558c-2.505,10.21-5.661,21.579-9.467,34.107l-4.177,13.783H122.735z"/>
	<path fill="none" id="path3" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" d="M165.89,47.478h18.517l18.794,51.788l6.821,20.743
		h0.695l3.343-10.44c1.392-4.455,2.504-7.888,3.34-10.302l18.515-51.788h18.655V149.94h-15.034V99.266
		c0-5.66,0.696-16.24,2.087-31.741h-0.557l-8.214,23.667l-17.818,48.864h-10.025l-17.958-48.864l-8.075-23.667h-0.556
		c1.297,17.45,1.948,28.03,1.948,31.741v50.674H165.89V47.478z"/>
	<path fill="none" id="path4" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" d="M312.758,47.478h18.516l18.794,51.788l6.822,20.743
		h0.694l3.343-10.44c1.392-4.455,2.505-7.888,3.341-10.302l18.515-51.788h18.655V149.94h-15.034V99.266
		c0-5.66,0.696-16.24,2.086-31.741h-0.556l-8.214,23.667l-17.818,48.864h-10.024l-17.959-48.864l-8.074-23.667h-0.557
		c1.298,17.45,1.949,28.03,1.949,31.741v50.674h-14.479V47.478z"/>
	<path fill="none" id="path5" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" d="M484.269,149.94l-23.248-41.348h-16.566v41.348
		h-16.149V47.478h33.55c24.688,0,37.031,9.884,37.031,29.653c0,15.128-7.147,24.919-21.438,29.375l25.059,43.435H484.269z
		 M444.454,95.647h15.452c15.314,0,22.972-6.171,22.972-18.516c0-11.138-7.657-16.706-22.972-16.706h-15.452V95.647z"/>
	<path fill="none" id="path6" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" d="M510.163,136.715l9.466-11.138
		c8.074,8.074,17.17,12.111,27.285,12.111c6.126,0,10.905-1.344,14.34-4.037c3.341-2.597,5.012-6.077,5.012-10.44
		c0-4.176-1.531-7.563-4.595-10.163c-1.948-1.575-5.896-3.665-11.832-6.265l-14.199-6.125
		c-13.922-5.847-20.884-14.803-20.884-26.869c0-8.074,3.202-14.802,9.606-20.186c6.312-5.381,14.34-8.074,24.084-8.074
		c12.251,0,22.599,4.315,31.044,12.947l-8.491,10.302c-6.869-6.125-14.388-9.188-22.553-9.188c-5.291,0-9.466,1.162-12.529,3.481
		c-3.155,2.414-4.733,5.662-4.733,9.745c0,3.898,1.716,7.148,5.15,9.745c2.135,1.579,5.938,3.48,11.416,5.708l14.06,5.986
		c13.922,5.941,20.884,15.175,20.884,27.705c0,8.445-3.203,15.452-9.606,21.021c-6.683,5.848-15.5,8.771-26.45,8.771
		C532.158,151.75,519.999,146.739,510.163,136.715z"/>
	<path fill="none" id="path7" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" d="M602.043,47.478h16.148v41.764h43.853V47.478
		h16.149V149.94h-16.149v-46.637h-43.853v46.637h-16.148V47.478z"/>
	<path fill="none" id="path8" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" d="M705.06,47.478h16.15V149.94h-16.15V47.478z"/>
	<path fill="none" id="path9" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" d="M748.075,47.478h31.046
		c26.078,0,39.119,10.303,39.119,30.906c0,10.768-3.621,19.027-10.858,24.78c-6.776,5.29-16.01,7.936-27.705,7.936h-15.451v38.841
		h-16.15V47.478z M778.146,98.153c16.148,0,24.223-6.589,24.223-19.769c0-6.495-2.087-11.183-6.264-14.061
		c-3.899-2.597-10.072-3.898-18.517-3.898h-13.363v37.728H778.146z"/>
	<path fill="none" id="path10" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" d="M819.213,148.688
		c-2.042-2.134-3.063-4.825-3.063-8.074c0-3.248,1.021-5.986,3.063-8.215c2.135-2.133,4.687-3.202,7.657-3.202
		c2.97,0,5.521,1.069,7.657,3.202c2.039,2.229,3.063,4.967,3.063,8.215c0,3.249-1.023,5.94-3.063,8.074
		c-2.042,2.04-4.594,3.063-7.657,3.063C823.808,151.75,821.254,150.728,819.213,148.688z"/>
</g>
</svg>
        <p id="try" style="font-size: 24px;color: #ffffff">try to be an excellent coder and a good photographer</p>
        <button id="learn_more" class="btn" style="margin-top: 10%" data-menuanchor="secondPage" href="#secondPage"><a
                href="#secondPage">learn more</a></button>
        <!--<img src="imgs/fullPage.png" alt="fullPage" />-->
    </div>
    <div class="section" id="section1">
        <div class="intro col-lg-6 col-md-6 col-sm-12" style="margin-bottom: 60px">
            <img src="/static/image/icon/programmer1.png">
            <h1 style="font-size: 40px;color: #000">As a Coder</h1>
            <br>
            <p style="font-size: 15px;color: #000">2015年接触php、JavaScript，在校接手校外php项目开发，触摸Web门槛</p>
            <br>
            <p style="font-size: 15px;color: #000">2016年11月正式参加工作，现已习得技能HTML(5), CSS(3), JAVASCRIPT, PYTHON, PHP,
                MONGODB, REDIS, LINUX</p>
            <br>
            <p style="font-size: 15px;color: #000">希望有朝一日成为独当一面的全栈工程师</p>
        </div>

        <div class="intro col-lg-6 col-md-6 col-sm-12">
            <img src="/static/image/icon/photographer-standing-behind-photo-camera-on-a-tripod-from-side-view%20(1).png">
            <h1 style="font-size: 40px;color: #000">As a Photographer</h1>
            <br>
            <p style="font-size: 15px;color: #000">一份不被客户、需求、PM所局限的爱好</p>
            <br>
            <p style="font-size: 15px;color: #000">
                入摄影坑两年，爬过山，扫过街，打过鸟，玩过光绘，熬过延时，不接私房。玩过佳能，自用尼康，借过索法，摸过徕卡，不讲刀锐奶化，只为纪录平凡</p>
            <br>
            <p style="font-size: 15px;color: #000">拒绝文艺，摄影可是技术活</p>
        </div>
    </div>
    <div class="section" id="section2">
        <div class="intro">
            <h1 style="font-size: 100px;color: #ffffff">Who Am I.</h1>
            <br>
            <br>
            <br>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <img class="icon" src="/static/image/icon/user%20(1).png" style="margin-bottom: 30px">
                <p style="font-size: 14px;color: #ffffff;text-align: center">Mr.Ship，常用名邓舟</p>
                <p style="font-size: 14px;color: #ffffff;text-align: center;margin-bottom: 10px">
                    祖籍四川，现居北京，90后热血小青年，以钻研为乐</p>
                <p style="font-size: 14px;color: #ffffff;text-align: center;margin-bottom: 40px">不会拍照的厨子不是好码农"</p>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <img class="icon" src="/static/image/icon/goal.png" style="margin-bottom: 30px">
                <p style="font-size: 14px;color: #ffffff;text-align: center">钻研的不只是代码</p>
                <p style="font-size: 14px;color: #ffffff;text-align: center;margin-bottom: 10px">画过素描、练过毛笔、拧过魔方、学过设计</p>
                <p style="font-size: 14px;color: #ffffff;text-align: center;margin-bottom: 40px">工作后，只留下代码、厨艺、摄影</p>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <img class="icon" src="/static/image/icon/infinite-time.png" style="margin-bottom: 30px">
                <p style="font-size: 14px;color: #ffffff;text-align: center">买不起房的小北漂</p>
                <p style="font-size: 14px;color: #ffffff;text-align: center;margin-bottom: 10px">
                    未来的目标，能养得起媳妇，玩得起相机，买得起厨具</p>
                <p style="font-size: 14px;color: #ffffff;text-align: center;margin-bottom: 40px">"什么都略懂一点，生活更多彩一点"</p>
            </div>
        </div>
    </div>
    <div class="section" id="section3">
        <div class="intro">
            <h1 style="font-size: 100px;color: #000">Contact Me.</h1>
            <p style="color: #000">If you have any question,please contact me.</p>
            <br>
            <div style="width: 100%;border-bottom: 1px solid;border-color: rgba(0,0,0,0.1)"></div>
            <br>
            <br>
            <div class="col-lg-12 col-md-12 col-sm-12" style="padding-left: 30px;padding-right: 30px">
                <form role="form" class="col-lg-12" action="{:url('getMessage')}" method="post">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <input class="form-control" type="text" name="name" placeholder="昵称/姓名"
                               style="background-color: rgba(255, 255, 255, 0.6)"/>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <input class="form-control" type="text" name="contact" placeholder="联系方式"
                               style="background-color: rgba(255, 255, 255, 0.6)"/>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label class="col-lg-12 col-md-12 col-sm-12" style="padding: 0">
                            <textarea class="form-control" name="content"
                                      style="resize: none;height: 150px;background-color: rgba(255, 255, 255, 0.6)"></textarea>
                        </label>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <br>
                        <button id="send" class="btn btn-sub" type="submit">send</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top: 30px">
                <div style="width: 45%;float: none;margin-left: auto;margin-right: auto">
                    <div class="col-lg-2 col-md-2 col-sm-2 drift">
                        <a href="http://weibo.com/mrship" target="_blank"><img
                                src="/static/image/icon/weibo-website-logo.png"></a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 drift">
                        <a href="https://github.com/flyindance1994" target="_blank"><img
                                src="/static/image/icon/github.png"></a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 drift">
                        <a id="wechat_icon"><img src="/static/image/icon/chat-speech-bubbles.png"></a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 drift">
                        <a id="qq_icon"><img src="/static/image/icon/qq-penguin-shape.png"></a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 drift">
                        <a href="https://www.facebook.com/mrshipzhou" target="_blank"><img
                                src="/static/image/icon/facebook-logo-in-circular-button-outlined-social-symbol.png"></a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 drift">
                        <a href="mailto:flyindancedz@gmail.com"><img src="/static/image/icon/gmail-logo.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>

<script type="text/javascript" src="/static/plugins/fullpage/js/jquery.fullPage.js"></script>
<script type="text/javascript" src="/static/js/examples.js"></script>
<script type="text/javascript" src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/static/plugins/layer/layer.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var path = document.getElementById('path10');
        var length = path.getTotalLength();
        console.log(length);
        $('#fullpage').fullpage({
            sectionsColor: ['rgba(0, 0, 0, 0.7)', 'rgba(255, 255, 255, 0.8)', 'rgba(0, 0, 0, 0.7)', 'rgba(255, 255, 255, 0.8)', 'rgba(0, 0, 0, 0.7)', 'rgba(204, 221, 255, 0.9)'],
            anchors: ['firstPage', 'secondPage', '3rdPage', '4thpage', '5thpage', 'lastPage'],
            menu: '#menu'
        });
    });
</script>
<script>
    $('#qq_icon').click(function () {
        var qq_layer = parent.layer.open({
            type: 1,
            title: false,
            closeBtn: 1,
            area: ['270px', '370px'],
            btn: '',
            skin: 'layui-layer-nobg', //没有背景色
            shadeClose: true,
            scrollbar: false,
            content: "<img style='text-align: center' src='/static/image/code/qrcode_1485931966902.jpg'>"
        });
    });
    $('#wechat_icon').click(function () {
        var wechat_layer = parent.layer.open({
            type: 1,
            title: false,
            closeBtn: 1,
            area: ['256px', '256px'],
            btn: '',
            skin: 'layui-layer-nobg', //没有背景色
            shadeClose: true,
            scrollbar: false,
            content: "<img style='text-align: center' src='/static/image/code/mmqrcode1485932069181.png'>"
        });
    });
</script>
</html>
