<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MrShip - 分享站</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/examples.css"/>

</head>
<body>
<!-- page集合的容器，里面放多个平行的.page，其他.page作为内联页面由路由控制展示 -->
<div class="page-group">
    <!-- 单个page ,第一个.page默认被展示-->
    <div class="page ship">
        <!-- 标题栏 -->
        <header class="bar bar-nav">
            <!--<a class="glyphicon glyphicon-th-list pull-left open-panel"></a>-->
            <a class="icon icon-menu pull-left open-panel"></a>
            <h1 class="title">Mr.Ship</h1>
        </header>

        <!-- 工具栏 -->
        <nav class="bar bar-tab">
            <a class="tab-item external active" href="#">
                <span class="icon icon-home"></span>
                <span class="tab-label">首页</span>
            </a>
            <a class="tab-item external" href="#">
                <span class="icon icon-edit"></span>
                <span class="tab-label">代码</span>
            </a>
            <a class="tab-item external" href="#">
                <span class="icon icon-picture"></span>
                <span class="tab-label">摄影</span>
            </a>
            <a class="tab-item external" href="">
                <span class="icon icon-message"></span>
                <span class="tab-label">联系</span>
            </a>
        </nav>

        <!-- 这里是页面内容区 -->
        <div class="content">
            <div class="content-block" style="height: 100%;background-color: rgba(0, 0, 0, 0.7);margin-bottom: 0">
                <div class="section" style="padding-top: 25%;">
                    <!--<h1 style="font-size: 150px;color: #ffffff">I AM MRSHIP.</h1>-->
                    <svg version="1.1" id="layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="80%" viewBox="0 0 841.89 198.43" enable-background="new 0 0 841.89 198.43" xml:space="preserve">
<g>
	<path fill="none" id="path1" stroke="#fff" stroke-width="2" stroke-miterlimit="10" d="M4.961,47.478h16.15V149.94H4.961V47.478z"/>
	<path fill="none" id="path2" stroke="#fff" stroke-width="2" stroke-miterlimit="10" d="M126.634,120.704H90.995l-8.771,29.236H65.797
		L99.765,47.478h18.655l33.968,102.462h-17.124L126.634,120.704z M122.735,108.037l-4.037-13.783
		c-1.764-5.568-5.012-16.936-9.745-34.107h-0.558c-2.505,10.21-5.661,21.579-9.467,34.107l-4.177,13.783H122.735z"/>
	<path fill="none" id="path3" stroke="#fff" stroke-width="2" stroke-miterlimit="10" d="M165.89,47.478h18.517l18.794,51.788l6.821,20.743
		h0.695l3.343-10.44c1.392-4.455,2.504-7.888,3.34-10.302l18.515-51.788h18.655V149.94h-15.034V99.266
		c0-5.66,0.696-16.24,2.087-31.741h-0.557l-8.214,23.667l-17.818,48.864h-10.025l-17.958-48.864l-8.075-23.667h-0.556
		c1.297,17.45,1.948,28.03,1.948,31.741v50.674H165.89V47.478z"/>
	<path fill="none" id="path4" stroke="#fff" stroke-width="2" stroke-miterlimit="10" d="M312.758,47.478h18.516l18.794,51.788l6.822,20.743
		h0.694l3.343-10.44c1.392-4.455,2.505-7.888,3.341-10.302l18.515-51.788h18.655V149.94h-15.034V99.266
		c0-5.66,0.696-16.24,2.086-31.741h-0.556l-8.214,23.667l-17.818,48.864h-10.024l-17.959-48.864l-8.074-23.667h-0.557
		c1.298,17.45,1.949,28.03,1.949,31.741v50.674h-14.479V47.478z"/>
	<path fill="none" id="path5" stroke="#fff" stroke-width="2" stroke-miterlimit="10" d="M484.269,149.94l-23.248-41.348h-16.566v41.348
		h-16.149V47.478h33.55c24.688,0,37.031,9.884,37.031,29.653c0,15.128-7.147,24.919-21.438,29.375l25.059,43.435H484.269z
		 M444.454,95.647h15.452c15.314,0,22.972-6.171,22.972-18.516c0-11.138-7.657-16.706-22.972-16.706h-15.452V95.647z"/>
	<path fill="none" id="path6" stroke="#fff" stroke-width="2" stroke-miterlimit="10" d="M510.163,136.715l9.466-11.138
		c8.074,8.074,17.17,12.111,27.285,12.111c6.126,0,10.905-1.344,14.34-4.037c3.341-2.597,5.012-6.077,5.012-10.44
		c0-4.176-1.531-7.563-4.595-10.163c-1.948-1.575-5.896-3.665-11.832-6.265l-14.199-6.125
		c-13.922-5.847-20.884-14.803-20.884-26.869c0-8.074,3.202-14.802,9.606-20.186c6.312-5.381,14.34-8.074,24.084-8.074
		c12.251,0,22.599,4.315,31.044,12.947l-8.491,10.302c-6.869-6.125-14.388-9.188-22.553-9.188c-5.291,0-9.466,1.162-12.529,3.481
		c-3.155,2.414-4.733,5.662-4.733,9.745c0,3.898,1.716,7.148,5.15,9.745c2.135,1.579,5.938,3.48,11.416,5.708l14.06,5.986
		c13.922,5.941,20.884,15.175,20.884,27.705c0,8.445-3.203,15.452-9.606,21.021c-6.683,5.848-15.5,8.771-26.45,8.771
		C532.158,151.75,519.999,146.739,510.163,136.715z"/>
	<path fill="none" id="path7" stroke="#fff" stroke-width="2" stroke-miterlimit="10" d="M602.043,47.478h16.148v41.764h43.853V47.478
		h16.149V149.94h-16.149v-46.637h-43.853v46.637h-16.148V47.478z"/>
	<path fill="none" id="path8" stroke="#fff" stroke-width="2" stroke-miterlimit="10" d="M705.06,47.478h16.15V149.94h-16.15V47.478z"/>
	<path fill="none" id="path9" stroke="#fff" stroke-width="2" stroke-miterlimit="10" d="M748.075,47.478h31.046
		c26.078,0,39.119,10.303,39.119,30.906c0,10.768-3.621,19.027-10.858,24.78c-6.776,5.29-16.01,7.936-27.705,7.936h-15.451v38.841
		h-16.15V47.478z M778.146,98.153c16.148,0,24.223-6.589,24.223-19.769c0-6.495-2.087-11.183-6.264-14.061
		c-3.899-2.597-10.072-3.898-18.517-3.898h-13.363v37.728H778.146z"/>
	<path fill="none" id="path10" stroke="#fff" stroke-width="2" stroke-miterlimit="10" d="M819.213,148.688
		c-2.042-2.134-3.063-4.825-3.063-8.074c0-3.248,1.021-5.986,3.063-8.215c2.135-2.133,4.687-3.202,7.657-3.202
		c2.97,0,5.521,1.069,7.657,3.202c2.039,2.229,3.063,4.967,3.063,8.215c0,3.249-1.023,5.94-3.063,8.074
		c-2.042,2.04-4.594,3.063-7.657,3.063C823.808,151.75,821.254,150.728,819.213,148.688z"/>
</g>
</svg>
                    <p class="try" style="font-size: 5vw;color: #fff;margin-top: 20%">try to be an excellent coder </p>
                    <p class="try" style="font-size: 5vw;color: #fff">and a good
                        photographer</p>
                    <button id="learn_more" class="btn" style="margin-top: 20%"><a>learn more</a></button>
                </div>
            </div>
            <div class="content-block" style="height: 100%;background-color: rgba(255, 255, 255, 0.8);padding-top: 10%;margin: 0;padding-bottom: 20%">
                <div class="section" id="section1">
                    <div class="intro col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-bottom: 10%">
                        <img src="/static/image/icon/programmer1.png" style="zoom: 0.4" class="breath_light">
                        <h1 style="font-size: 2em;color: #000;">As a Coder</h1>
                        <p style="font-size: 1em;color: #000;padding: 10px">15年触摸Web门槛</p>
                        <p style="font-size: 1em;color: #000">已习得技能HTML(5), CSS(3), JAVASCRIPT, PYTHON, PHP,
                            MONGODB,LINUX</p>
                    </div>

                    <div class="intro col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <img src="/static/image/icon/photographer-standing-behind-photo-camera-on-a-tripod-from-side-view%20(1).png"
                             style="zoom: 0.4" class="breath_light">
                        <h1 style="font-size: 2em;color: #000;">As a Photographer</h1>
                        <p style="font-size: 1em;color: #000;padding: 10px">一份单纯的爱好</p>
                        <p style="font-size: 1em;color: #000">
                            爬过山，扫过街，打过鸟，玩过光绘，熬过延时，不接私房。</p>
                        <p style="font-size: 1em;color: #000">拒绝文艺，摄影可是技术活</p>
                    </div>
                </div>
            </div>
            <div class="content-block" style="height: 100%;background-color: rgba(0, 0, 0, 0.7);margin: 0;padding-top: 10%;padding-bottom: 20%">
                <div class="section" id="section2">
                    <div class="intro">
                        <h1 style="font-size: 2em;color: #ffffff">Who Am I.</h1>
                        <p style="color: #fff;font-size: 1em">If you have want to know.</p>
                        <br>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <img class="icon" src="/static/image/icon/user%20(1).png" style="margin-bottom: 10px;zoom: 0.5">
                            <p style="font-size: 1em;color: #ffffff;text-align: center">Mr.Ship</p>
                            <p style="font-size: 1em;color: #ffffff;text-align: center;margin-bottom: 10px">
                                祖籍四川，现居北京，90后小青年，以钻研为乐</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <img class="icon" src="/static/image/icon/goal.png" style="margin-bottom: 10px;zoom: 0.5">
                            <p style="font-size: 1em;color: #ffffff;text-align: center">钻研的不只是代码</p>
                            <p style="font-size: 1em;color: #ffffff;text-align: center;margin-bottom: 10px">工作后，除去代码，兼修摄影</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <img class="icon" src="/static/image/icon/infinite-time.png" style="margin-bottom: 10px;zoom: 0.5">
                            <p style="font-size: 1em;color: #ffffff;text-align: center">买不起房的小北漂</p>
                            <p style="font-size: 1em;color: #ffffff;text-align: center;margin-bottom: 10px">"什么都略懂一点，生活更多彩一点"</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-block" style="height: 100%;background-color: rgba(255, 255, 255, 0.8);margin: 0;padding-top: 10%;padding-bottom: -10%">
                <div class="section" id="section3">
                    <div class="intro" style="margin-top: 20px">
                        <h1 style="font-size: 10vmin;color: #000">Contact Me.</h1>
                        <p style="color: #000;font-size: 1vmin">If you have any question</p>
                        <br>
                        <div style="width: 100%;border-bottom: 1px solid;border-color: rgba(0,0,0,0.1)"></div>
                        <br>
                        <div class="col-lg-12 col-md-12 col-sm-12" style="padding-left: 30px;padding-right: 30px">
                            <form role="form" class="col-lg-12" action="{:url('getMessage')}" method="post">
                                <div class="col-lg-6 col-md-6 col-sm-3" style="margin-bottom: 10px">
                                    <input class="form-control" type="text" name="name" placeholder="昵称/姓名"
                                           style="background-color: rgba(255, 255, 255, 0.6)"/>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-3">
                                    <input class="form-control" type="text" name="contact" placeholder="联系方式"
                                           style="background-color: rgba(255, 255, 255, 0.6)"/>
                                </div>
                                <br>
                                <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top: 10px">
                            <textarea class="form-control" name="content"
                                      style="resize: none;height: 120px;background-color: rgba(255, 255, 255, 0.6)"></textarea>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <br>
                                    <button id="send" class="col-100" style="width:100%;" type="submit">send</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10%">
                            <div class="col-lg-offset-2 col-md-offset-4 col-sm-offset-4 col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                 style="text-align: center">
                                <!--<div class="col-lg-2 col-md-1 col-sm-1 col-xs-1 drift">-->
                                <!--<a href="http://weibo.com/mrship" target="_blank"><img-->
                                <!--src="/static/image/icon/weibo-website-logo.png" style="zoom: 0.7"></a>-->
                                <!--</div>-->
                                <div class="col-lg-2 col-md-1 col-sm-1 col-xs-3 drift">
                                    <a href="https://github.com/flyindance1994" target="_blank"><img
                                            src="/static/image/icon/github.png" style="zoom: 0.6"></a>
                                </div>
                                <div class="col-lg-2 col-md-1 col-sm-1 col-xs-3 drift">
                                    <a id="wechat_icon" class="open-wechat" data-popup=".open-wechat"><img src="/static/image/icon/chat-speech-bubbles.png" style="zoom: 0.6"></a>
                                </div>
                                <div class="col-lg-2 col-md-1 col-sm-1 col-xs-3 drift">
                                    <a id="qq_icon"><img src="/static/image/icon/qq-penguin-shape.png" style="zoom: 0.6"></a>
                                </div>
                                <!--<div class="col-lg-2 col-md-1 col-sm-1 col-xs-1 drift">-->
                                <!--<a href="https://www.facebook.com/mrshipzhou" target="_blank"><img-->
                                <!--src="/static/image/icon/facebook-logo-in-circular-button-outlined-social-symbol.png" style="zoom: 0.7"></a>-->
                                <!--</div>-->
                                <div class="col-lg-2 col-md-1 col-sm-1 col-xs-3 drift">
                                    <a href="mailto:flyindancedz@gmail.com"><img src="/static/image/icon/gmail-logo.png"
                                                                                 style="zoom: 0.6"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 其他的单个page内联页（如果有） -->
    <div class="page">...</div>
</div>

<!-- popup, panel 等放在这里 -->
<div class="panel-overlay"></div>
<!-- Left Panel with Reveal effect -->
<div class="panel panel-left panel-reveal">
    <div class="content-block">
        <p>这是一个侧栏</p>
        <p></p>
        <!-- Click on link with "close-panel" class will close panel -->
        <p><a href="#" class="close-panel">关闭</a></p>
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>

</body>
</html>