<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MrShip_摄影</title>
    <meta name="author" content="MRSHIP"/>
    <meta name="Resource-type" content="Document"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/static/css/examples.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/mrship.css"/>
    <link rel="stylesheet" type="text/css" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/plugins/masonry/css/chromagallery.min.css">
</head>
<body class="ship" style="background-color:gainsboro;background-size: cover;overflow-x: hidden">
<div class="navbar navbar-fixed-top navbar-inverse" role="navigation"
     style="background-color:rgba(0, 0, 0, 0.5);color: #ffffff;background-image: none;border: none">
    <div class="container">
        <div class="navbar-header nav-title ">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="color: #FFFFFF">I'm Ship</a>
        </div>
        <div class="collapse navbar-collapse navbar-right is-collapse">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="index.html" style="text-align: center"><span>首页</span></a></li>-->
                <li><a href="/" style="text-align: center"><span>首页</span></a></li>
                <li><a href="/index/code" onclick="enterPage(1)"
                       style="text-align: center"><span>代码</span></a></li>
                <li class="active"><a href="/index/photo" onclick="enterPage(2)" style="text-align: center"><span>摄影</span></a>
                </li>
                <li><a href="javascript:void(0)" onclick="enterPage(3)" style="text-align: center"><span>留言</span></a>
                </li>
                <li><a href="javascript:void(0)" onclick="enterPage(4)" style="text-align: center"><span>rss</span></a>
                </li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</div>

<div class="container" style="height: 100%;width:100%;position: relative;margin: 0;padding: 0 0 60px 0">
    <div style="height: 100%;width:100%;position:absolute;background-color: rgba(255,255,255,0.5);margin: 0;padding: 0"></div>
    <div class="col-lg-12" style="padding-top: 60px">
        <div class="blog-content-area" style="text-align: center">
            <div class="chroma-gallery mygallery">
                <img src="/static/image/show/thumbs/1.jpg" alt="Pic 1" data-largesrc="/static/image/show/1.jpg">
                <img src="/static/image/show/thumbs/2.jpg" alt="Pic 2" data-largesrc="/static/image/show/2.jpg">
                <img src="/static/image/show/thumbs/3.jpg" alt="Pic 3" data-largesrc="/static/image/show/3.jpg">
                <img src="/static/image/show/thumbs/4.jpg" alt="Pic 4" data-largesrc="/static/image/show/4.jpg">
                <img src="/static/image/show/thumbs/5.jpg" alt="Pic 1" data-largesrc="/static/image/show/5.jpg">
                <img src="/static/image/show/thumbs/6.jpg" alt="Pic 1" data-largesrc="/static/image/show/6.jpg">
                <img src="/static/image/show/thumbs/7.jpg" alt="Pic 1" data-largesrc="/static/image/show/7.jpg">
                <img src="/static/image/show/thumbs/8.jpg" alt="Pic 1" data-largesrc="/static/image/show/8.jpg">
                <img src="/static/image/show/thumbs/9.jpg" alt="Pic 1" data-largesrc="/static/image/show/9.jpg">
                <img src="/static/image/show/thumbs/10.jpg" alt="Pic 1" data-largesrc="/static/image/show/10.jpg">
                <img src="/static/image/show/thumbs/11.jpg" alt="Pic 1" data-largesrc="/static/image/show/11.jpg">
                <img src="/static/image/show/thumbs/12.jpg" alt="Pic 1" data-largesrc="/static/image/show/12.jpg">
                <img src="/static/image/show/thumbs/13.jpg" alt="Pic 1" data-largesrc="/static/image/show/13.jpg">
                <img src="/static/image/show/thumbs/14.jpg" alt="Pic 1" data-largesrc="/static/image/show/14.jpg">
                <img src="/static/image/show/thumbs/15.jpg" alt="Pic 1" data-largesrc="/static/image/show/15.jpg">
                <img src="/static/image/show/thumbs/16.jpg" alt="Pic 1" data-largesrc="/static/image/show/16.jpg">
                <img src="/static/image/show/thumbs/17.jpg" alt="Pic 1" data-largesrc="/static/image/show/17.jpg">
                <img src="/static/image/show/thumbs/18.jpg" alt="Pic 1" data-largesrc="/static/image/show/18.jpg">
                <img src="/static/image/show/thumbs/19.jpg" alt="Pic 1" data-largesrc="/static/image/show/19.jpg">
            </div>
        </div>
    </div>
</div>
</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>

<script type="text/javascript" src="/static/js/examples.js"></script>
<script type="text/javascript" src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/static/plugins/layer/layer.js"></script>
<script src="/static/plugins/masonry/js/modernizr-chrg.min.js"></script>
<script src="/static/plugins/masonry/js/imagesloaded.min.js"></script>
<script src="/static/plugins/masonry/js/masonry.min.js"></script>
<script src="/static/plugins/masonry/js/chromagallery.min.js"></script>

<script type="text/javascript">
    $(".mygallery").chromaGallery
    ({
        color:'#000',
        gridMargin:15,
        maxColumns:5,
        dof:true,
        screenOpacity:0.8
    });
</script>

</html>
