<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MrShip_admin</title>
    <meta name="author" content="MRSHIP"/>
    <meta name="Resource-type" content="Document"/>

    <link rel="stylesheet" type="text/css" href="/static/css/examples.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/mrship.css"/>
    <link rel="stylesheet" type="text/css" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/node_modules/bootstrap/dist/css/bootstrap-theme.min.css">

</head>
<body style="height:100%;font-family: '思源黑体 CN Medium';background-color:gainsboro;background-size: cover; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-attachment:fixed">
<div class="navbar navbar-fixed-top navbar-inverse" role="navigation"
     style="background-color:rgba(0, 0, 0, 0.5);color: #ffffff;background-image: none;border: none">
    <div class="container">
        <div class="navbar-header nav-title ">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html" style="color: #FFFFFF">I'm Ship</a>
        </div>
        <div class="collapse navbar-collapse navbar-right is-collapse">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="index.html" style="text-align: center"><span>首页</span></a></li>-->
                <li><a href="/" style="text-align: center"><span>首页</span></a></li>
                <li><a href="/index/code" onclick="enterPage(1)"
                       style="text-align: center"><span>代码</span></a></li>
                <li><a href="javascript:void(0)" onclick="enterPage(2)" style="text-align: center"><span>摄影</span></a>
                </li>
                <li><a href="javascript:void(0)" onclick="enterPage(3)" style="text-align: center"><span>留言</span></a>
                </li>
                <li><a href="javascript:void(0)" onclick="enterPage(4)" style="text-align: center"><span>rss</span></a>
                </li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</div>

<div class="container" style="height: 100%;width:100%;position: relative;margin: 0;padding: 0 0 60px 0">
    <div style="height: 100%;width:100%;position:absolute;background-color: rgba(255,255,255,0.5);margin: 0;padding: 0"></div>
    <div class="row col-lg-12" style="padding-top: 60px">
        <div class="col-lg-12">
            <!--<textarea class="ckeditor" id="t1" name="t1" cols="80" rows="10"></textarea>-->
            <form action="/index/Admin/imageUpload" method="post">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <input class="form-control" type="text" name="title" placeholder="标题"/>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <input class="form-control" type="text" name="introduce" placeholder="介绍"/>
                </div>
                <!-- 加载编辑器的容器 -->
                <script id="container" name="content" type="text/plain" class="col-lg-12" style="padding-top:30px">

                </script>
                <div class="col-lg-6 col-md-6 col-sm-6" style="padding-top: 20px">
                    <button type="submit">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>

<script type="text/javascript" src="/static/js/examples.js"></script>
<script type="text/javascript" src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/static/plugins/ckeditor/ckeditor.js"></script>
<!-- 配置文件 -->
<script type="text/javascript" src="/static/plugins/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/static/plugins/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var editor = UE.getEditor('container');
</script>

</html>
