<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MrShip_代码</title>
    <meta name="author" content="MRSHIP"/>
    <meta name="Resource-type" content="Document"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/examples.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/mrship.css"/>


</head>
<body style="background-color:gainsboro">
<div class="navbar navbar-fixed-top navbar-inverse" role="navigation"
     style="background-color:rgba(0, 0, 0, 0.9);color: #ffffff;background-image: none;border: none">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="color: #FFFFFF">I'm Ship</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-right is-collapse">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="index.html" style="text-align: center"><span>首页</span></a></li>-->
                <li><a href="/" style="text-align: center"><span>首页</span></a></li>
                <li class="active"><a href="/index/code" onclick="enterPage(1)" style="text-align: center"><span>代码</span></a></li>
                <li><a href="/index/photo" onclick="enterPage(2)" style="text-align: center"><span>摄影</span></a></li>
                <li><a href="javascript:void(0)" onclick="enterPage(3)" style="text-align: center"><span>留言</span></a>
                </li>
                <li><a href="javascript:void(0)" onclick="enterPage(4)" style="text-align: center"><span>rss</span></a>
                </li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</div>

<div class="container col-sm-12" style="padding: 0 20px 60px 20px">
    <div style="position:absolute;background-color: rgba(255,255,255,0.5);margin: 0;padding: 0"></div>
    <div class="row" style="padding-top: 60px;margin: 0">
        <div class="blog-content-area">
            {volist name="posts" id="post" key="key"}
            <div class="blog-content-block">
                <div class="blog-content-text noimg">
                    <a href="/index/Cpost/index/id/{$post->getData('id')}">
                        <h3>{$post->getData('title')}</h3>
                    </a>
                    <div class="blog-tag"><a href="#"><span class="glyphicon glyphicon-tag"></span>&nbsp;{$post->getData('type')}</a></div>
                    <a href="#">
                        <div class="blog-review">
                            {$post->getData('introduce')}
                        </div>
                    </a>
                    <div class="blog-info">
                        <div class="blog-time"><span class="glyphicon glyphicon-calendar"></span>&nbsp;<span>{$post->getData('create_time')}</span></div>
                        <div class="blog-read">
                            <span></span><span></span><span></span><span></span><span></span><span></span>
                        </div>
                    </div>
                </div>
            </div>
            {/volist}
            </table>
            {$posts->render()}
        </div>
    </div>
</div>
</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>

<script type="text/javascript" src="/static/js/examples.js"></script>
<script type="text/javascript" src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/static/plugins/layer/layer.js"></script>

</html>
