<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MrShip_代码</title>
    <meta name="author" content="MRSHIP"/>
    <meta name="Resource-type" content="Document"/>

    <link rel="stylesheet" type="text/css" href="/static/css/examples.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/mrship.css"/>
    <link rel="stylesheet" type="text/css" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/node_modules/bootstrap/dist/css/bootstrap-theme.min.css">

</head>
<body style="height:100%;font-family: '思源黑体 CN Medium';background-color:gainsboro;background-size: cover; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-attachment:fixed">
<div class="navbar navbar-fixed-top navbar-inverse" role="navigation"
     style="background-color:rgba(0, 0, 0, 0.5);color: #ffffff;background-image: none;border: none">
    <div class="container">
        <div class="navbar-header nav-title ">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html" style="color: #FFFFFF">I'm Ship</a>
        </div>
        <div class="collapse navbar-collapse navbar-right is-collapse">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="index.html" style="text-align: center"><span>首页</span></a></li>-->
                <li><a href="/" style="text-align: center"><span>首页</span></a></li>
                <li class="active"><a href="/index/code" onclick="enterPage(1)"
                                      style="text-align: center"><span>代码</span></a></li>
                <li><a href="javascript:void(0)" onclick="enterPage(2)" style="text-align: center"><span>摄影</span></a>
                </li>
                <li><a href="javascript:void(0)" onclick="enterPage(3)" style="text-align: center"><span>留言</span></a>
                </li>
                <li><a href="javascript:void(0)" onclick="enterPage(4)" style="text-align: center"><span>rss</span></a>
                </li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</div>

<div class="container" style="height: 100%;width:100%;position: relative;margin: 0;padding: 0 0 60px 0">
    <div style="height: 100%;width:100%;position:absolute;background-color: rgba(255,255,255,0.5);margin: 0;padding: 0"></div>
    <div class="row" style="padding-top: 60px">
        <div class="blog-content-area">
            {volist name="posts" id="post" key="key"}
            <div class="blog-content-block">
                <div class="blog-content-text noimg">
                    <a href="/blog/article/5808bc603344715766a16631">
                        <h2>{$post->getData('title')}</h2>
                    </a>
                    <div class="blog-tag">tag<a href="/blog/1?tags=100">{$post->getData('type')}</a></div>
                    <a href="#">
                        <div class="blog-review">
                            {$post->getData('introduce')}
                        </div>
                    </a>
                    <div class="blog-info">
                        <div class="blog-time"><span></span><span></span></div>
                        <div class="blog-read">
                            <span></span><span></span><span></span><span></span><span></span><span></span>
                        </div>
                    </div>
                </div>
            </div>
            {/volist}
            </table>
            {$posts->render()}
        </div>
    </div>
</div>
</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>

<script type="text/javascript" src="/static/js/examples.js"></script>
<script type="text/javascript" src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/static/plugins/layer/layer.js"></script>

</html>
