<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>MrShip - 分享站</title>
    <meta name="author" content="MRSHIP"/>
    <meta name="Resource-type" content="Document"/>
    <link rel="stylesheet" type="text/css" href="/static/plugins/fullpage/css/jquery.fullPage.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/examples.css"/>
    <link rel="stylesheet" type="text/css" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/node_modules/bootstrap/dist/css/bootstrap-theme.min.css">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="span6">
                </div>
                <div class="span6">
                    <form class="form-horizontal" action="/index/Admins/login" method="post">
                        <div class="control-group">
                            <label class="control-label" for="account">账号</label>
                            <div class="controls">
                                <input id="account" name="account" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="password">密码</label>
                            <div class="controls">
                                <input id="Password" name="password" type="password" class="form-control"/>
                            </div>
                        </div>
                        <div class="control-group" style="padding-top: 10px">
                            <div class="controls">
                                <button type="submit" class="btn">登陆</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>

<script type="text/javascript" src="/static/js/examples.js"></script>
<script type="text/javascript" src="/static/node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>